.navbar {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #eceff1;
  }
  
  .navbar__link {
    margin: 1em;
    cursor: pointer;
    text-decoration: none;
    color: #181818;
    border-bottom: 3px solid transparent;
  }
  
  .navbar__link:hover {
    transform: translateY(-2px);
  }
  
  .navbar__link--active {
    border-bottom: 3px solid #EE82EE;
    transition: border-bottom .5s ease-in-out;
  }

  a {
  display: flex;
  align-items: center;
  background-color: #eceff1;
  margin: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #181818;
  border-bottom: 3px solid transparent;
  transform: translateY(-2px);
}

  p {
    border-bottom: 30px solid transparent;
    position: absolute;
    right: 100px;
  }

  .icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  .pt-24 {
    padding-top: 24px;
  }

  .dropzone {
    border: 1px dashed #888;
    border-radius: 4px;
    color: #aaa;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
