body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login {
  width: 200px;
	height: 120px;
	
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	
  margin: auto;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: unset;
}

.pb-20 {
  padding-bottom: 20px;
}

pt-20 {
  padding-top: 20px;
}

pt-24 {
  padding-top: 24px;
}

pt-100 {
  padding-top: 500px;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
  height: 50px;
}

td {
  height: 50px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}